body{
    border:1px;
    margin: 1px;
    height: 300px;
}

.inner-box{
    border:1px solid blue;
    margin: 100px;
    height:200px;
    /* border: 10px 10px 10px 10px; */

}

.yellow-line{

    border:1px solid yellow;
    height:35px;
    margin-bottom: 20px;
    background-color: yellow;
    margin: 40px;
}   




